<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>AngularJS TodoApp</title>
  <!-- External CSS -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>

<body ng-app="todoApp">
  <div class="wrap">
    <div class="container">
      <div class="todo-app" ng-controller="todoController">

        <!-- Todo App header -->
        <div class="app-header">
          <h2>Todo App</h2>
          <form name="searchForm">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="searchKeyword" />
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fa fa-search"></i>검색</button>
              </div>
            </div>
            <div class="filter-wrap">
              <label for="all" class="radio-inline"><input type='radio'  id="all"  name="searchStatus" ng-model="searchStatus" value=""/>전체</label>
              <label for="completed" class="radio-inline"><input type='radio'  id="completed"  name="searchStatus" ng-model="searchStatus" value="true"/>완료된</label>
              <label for="uncompleted" class="radio-inline"><input type="radio"  id="uncompleted" name="searchStatus" ng-model="searchStatus" value="false">미완료</label>
            </div>
          </form>
        </div>

        <!-- Todo App Body -->
        <div class="app-body">
            <ul class="list-unstyled" class="todo-list list-group">
              <li class="todo-item list-group-item" ng-class="todo.completed ? 'todo-completed' : ''" ng-repeat="todo in todos | filter:{content:searchKeyword, completed : searchStatus} track by $index" >
                <span class="todo-content">
                  {{todo.content}}
                </span>
                <span class="help-block">
                  <span class="date">
                    <i class="fa fa-clock-o"></i> {{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}
                  </span>
                </span>
                <div class="btn-group">
                  <button class="btn btn-success" ng-click="todoToggleComplete(todo)" ng-if="!todo.completed">
                    <i class="fa fa-check"></i> 완료하기
                  </button>
                  <button class="btn btn-default" ng-click="todoToggleComplete(todo)" ng-if="todo.completed">
                    <i class="fa fa-reply"></i> 완료취소
                  </button>
                  <button class="btn btn-danger" ng-click="todoRemove(todo)"><i class="fa fa-trash"></i>삭제하기</button>
                </div>
              </li>
            </ul>
        </div>

        <!-- Todo App footer -->
        <div class="app-footer">
          <h3><i class="fa fa-plus"></i>Todo Add</h3>
          <form name="todoForm">
              <textarea class="form-control" ng-model="newTodoContent" ng-enter="todoAdd(newTodoContent)"></textarea>
              <p class="text-right btn-wrap">
                <button class="btn btn-info" ng-click="todoAdd(newTodoContent)">
                  <i class="fa fa-save"></i>등록하기
                </button>
              </p>
          </form>
        </div>
      </div> <!-- todo App End -->
    </div>
  </div>
  <!-- External JS    -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
